@{
   ViewData["Title"] = "Privacy Policy";

    Layout = null;
}

</BR>

</BR>
</BR>
</BR>
</BR>
</BR>

    <html>

    <head>

        <style>

            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            td {
                width: auto;
            }
        </style>


    




    </head>
    <body>
        <br />
        Estimado <strong> '+ 'GERENTE' +'</strong>,
        <br />
        <br />
        La presente es para informarte que el día de hoy ingresó a Oficina Solución en la campaña
        <strong> '+ ESTADO +'</strong> el cliente <strong> ' + NOMBRE_COMPLETO + '</strong> con CC  <strong> '+ CC +'</strong>
        para brindarle una propuesta de refinanciamiento sobre su producto.
        <br />
        <br />
        Asimismo, agradeceré si cuentan con algún tipo de información relevante del cliente en cuanto a número actualizado,
        correo o algún último contacto para proceder con la propuesta.
        <br />
        <br />
        Saludos cordiales
    </body>
    </html>