@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

    <html class="no-js " lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

        <title>:: CMI CS-FUVEX ::</title>
        <!-- Favicon-->
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- Custom Css -->
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/main.css">
        <link rel="stylesheet" href="~/assets/css/authentication.css">
        <link rel="stylesheet" href="~/assets/css/color_skins.css">
    </head>

    <body class="theme-blush authentication sidebar-collapse">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">
                <div class="navbar-translate n_logo">
                    <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank">Cuadro de Mando Integral de Contratacion Sencilla y FUVEX</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>

            </div>
        </nav>
        <!-- End Navbar -->
        <div class="page-header">
            <div class="page-header-image" style="background-image:url(/images/cmi-wall.jpg)"></div>
            <div class="container">
                <div class="col-md-12 content-center">
                    <div class="card-plain">
                        <form asp-route-returnUrl="@Model.ReturnUrl" class="form" method="post">
                            <div class="header">

                                <h5>NUEVO USUARIO</h5>
                                <span>Crear una nueva cuenta para entrar </span>
                            </div>
                            <div class="content">
                                <div class="input-group">
                                    <input asp-for="Input.Codigo" type="text" class="form-control" placeholder="Ingresa tu registro" required>
                                    <span asp-validation-for="Input.Codigo" class="text-danger"></span>
                                </div>

                                <div class="input-group">
                                    <input asp-for="Input.Nombre" type="text" class="form-control" placeholder="Nombres" required>
                                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                                </div>


                                <div class="input-group">
                                    <input asp-for="Input.Apellido" type="text" class="form-control" placeholder="Apellidos" required>
                                    <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                                </div>


                                <div class="input-group">
                                    <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email" required>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="input-group">
                                    <input asp-for="Input.Password" type="password" placeholder="Contraseña" class="form-control" required />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="input-group">
                                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirmar Contraseña" class="form-control" required />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="footer text-center">
                                <button type="submit" class="btn btn-success">REGISTRAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">

                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,
                        <span>Copyright © OPPLUS <a href="" target="_blank">Area de Calidad y Proyectos</a></span>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Jquery Core Js -->
        <script src="~/assets/bundles/libscripts.bundle.js"></script>
        <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
        <script>
   $(".navbar-toggler").on('click',function() {
    $("html").toggleClass("nav-open");
});
        </script>
    </body>
    </html>